
calculadora/calculator/.settings/org.eclipse.core.resources.prefs
calculadora/.settings/org.eclipse.core.resources.prefs
calculadora/.settings/org.eclipse.jdt.core.prefs
calculadora/.settings/org.eclipse.m2e.core.prefs
calculadora/calculator/.settings/org.eclipse.jdt.core.prefs
calculadora/calculator/.settings/org.eclipse.m2e.core.prefs
